name: Unit Testing

on:
  pull_request:
    branches:
      - test

jobs:
  unit_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8  # Adjust the Python version as needed

      - name: Install Dependencies
        run: pip install -r requirements.txt  # Install development dependencies

      - name: Run Unit Tests
        run: pytest test.py
